.movie {
  background-color: #5e5e5e;
  font-weight: 300;
  padding: 20px;
  border-radius: 25px;
  color: white;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
}

.movie__img {
  max-width: 230px;
  width: 100%;
  margin-right: 30px;
}

.movie__title {
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

.movie__year {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}

.movie__title a {
  margin-bottom: 5px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.movie__genres li,
.movie__year {
  margin-right: 10px;
  font-size: 14px;
}
