.container {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 70px 70px 70px;
}

.detail {
  margin-top: 40px;
  text-align: center;
  color: white;
}

.title {
  margin: 0;
  padding: 0;
}

.info {
  margin: 0;
}

.info span {
  margin-right: 5px;
}

.description {
  max-width: 660px;
}
