.movie {
  background-color: #5e5e5e;
  font-weight: 300;
  padding: 20px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
}

.movie__img {
  max-width: 313px;
  width: 100%;
}

.movie__title {
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

.movie__year {
  margin: 0;
  margin-top: 5px;
  font-weight: 300;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.movie__title a {
  margin-bottom: 5px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.movie__genres li {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #5ac8f5;
}
