.movie {
  background-color: #5e5e5e;
  font-weight: 300;
  padding: 20px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
<<<<<<< HEAD
  width: 350px;
=======
  transition: 0.3s all ease-in-out;
}

.movie:hover {
  transform: scale(1.03);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.movie a {
  color: white;
  text-decoration: none;
>>>>>>> d3b3ab223a5a4996c1e0076acbc1b58b2cee0556
}

.movie__img {
  max-width: 313px;
  width: 100%;
}

.movie__title {
  margin: 10px 0px 5px 0px;
  font-size: 24px;
  font-weight: bold;
}

.movie__year {
  margin: 0;
  margin-top: 5px;
  font-weight: 300;
  font-size: 18px;
  font-weight: 500;
}

.movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.movie__genres li {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #5ac8f5;
}
